[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/avianbc/dashboard.git
	branch = next-svelte
