[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "static/dashboard"]
	path = static/dashboard
	url = https://github.com/avianbc/dashboard.git
