$link-color: #1565c0;
$light-background: #fafafa;
$light-foreground: #212121;
$dark-background: #212121;
$dark-foreground: #dadada;

.colorscheme-light {
    @import "syntax-light";
}
.colorscheme-dark {
    @import "syntax-dark";
}

.content article p {
    text-align: initial !important;
}

.list ul li .date {
    flex: 0.5;
}

.avatar img {
    border-radius: 0 !important;
}

table {
    th,
    td {
        padding: 0.3rem 1.6rem;
    }
}

img {
    &.img-rounded {
        border-radius: 4px;
    }

    &.img-thumbnail {
        margin: 20px;
        padding: 4px;
        line-height: 1.625;
        border: 1px solid $dark-foreground;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        width: 100% \9;
        max-width: 100%;
        height: auto;
    }

    &.img-circle {
        border-radius: 50%;
    }
}

.alignleft {
    float: right;
}

.alignright {
    float: left;
}

.textleft {
    text-align: right;
}

.textright {
    text-align: left;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 10px;
    resize: vertical;
    background-color: $light-background;
    color: $light-foreground;
    border: 1px solid $dark-foreground;
}

input[type=submit],
button {
    background-color: $link-color;
    color: $light-background;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 9px;
    width: 100%;
}
