.width-full {
    width: 100%;
}

.width-auto {
    width: auto;
}

.margin-none {
    margin: 0;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top-xs {
    margin-top: rem(5);
}

.margin-top-s {
    margin-top: rem(10);
}

.margin-top-m {
    margin-top: rem(20);
}

.margin-top-l {
    margin-top: rem(30);
}

.margin-top-xl {
    margin-top: rem(40);
}

.margin-top-xxl {
    margin-top: rem(50);
}

.margin-right-none {
    margin-right: 0;
}

.margin-right-xs {
    margin-right: rem(5);
}

.margin-right-s {
    margin-right: rem(10);
}

.margin-right-m {
    margin-right: rem(20);
}

.margin-right-l {
    margin-right: rem(30);
}

.margin-right-xl {
    margin-right: rem(40);
}

.margin-right-xxl {
    margin-right: rem(50);
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: rem(5);
}

.margin-bottom-s {
    margin-bottom: rem(10);
}

.margin-bottom-m {
    margin-bottom: rem(20);
}

.margin-bottom-l {
    margin-bottom: rem(30);
}

.margin-bottom-xl {
    margin-bottom: rem(40);
}

.margin-bottom-xxl {
    margin-bottom: rem(50);
}

.margin-left-none {
    margin-left: 0;
}

.margin-left-xs {
    margin-left: rem(5);
}

.margin-left-s {
    margin-left: rem(10);
}

.margin-left-m {
    margin-left: rem(20);
}

.margin-left-l {
    margin-left: rem(30);
}

.margin-left-xl {
    margin-left: rem(40);
}

.margin-left-xxl {
    margin-left: rem(50);
}

.padding-none {
    padding: 0;
}

.padding-xs {
    padding: rem(5);
}

.padding-s {
    padding: rem(10);
}

.padding-m {
    padding: rem(20);
}

.padding-l {
    padding: rem(30);
}

.padding-xl {
    padding: rem(40);
}
